<div class='main_claim'>
  <h2><%= @claim.body %></h2>
  <button class="vote_button" type="button">Agree</button>
  <button class="vote_button" type="button">Disagree</button>
  <p>Author:
    <a href="/user/<%= @claim.author.id %>">
      <%= @claim.author.username %>
    </a>
<div>
<hr><hr>

<div class='premise'>
  <p>Arguments using this claim as a premise</p>
  <li>confusion about this link</li>
  <br><button type="button">New Argument</button>
</div>

<div class='args_supporting'>
  <p>Arguments supporting this claim</p>
  <li><%= @args_for[0].premises[0].body %>
  --<a href="/user/<%= @claim.author.id %>">
    <%= @args_for[0].premises[0].author.username %></li></li>
  </a>
  <li><%= @args_for[0].premises[1].body %>
  --<a href="/user/<%= @claim.author.id %>">
    <%= @args_for[0].premises[1].author.username %></li></li>
  </a>
  <br><button type="button">New Argument</button>
</div>

<div class='args_opposing'>
  <p>Arguments opposing this claim</p>
  <li><%= @args_against[0].premises[0].body %>
  --<a href="/user/<%= @claim.author.id %>">
    <%= @args_against[0].premises[0].author.username %></li>
  </a>
  <li><%= @args_against[0].premises[1].body %>
  --<a href="/user/<%= @claim.author.id %>">
    <%= @args_against[0].premises[1].author.username %></li>
  </a>
  <br><button type="button">New Argument</button>
</div>






