<!-- link_to("Accept", ) -->
<section id="argument_container">
	<div id="conclusion_container">
		<h2 id="argument_conclusion">Argument <%= @position %>:</h2>
		<div>
			<%= link_to(@conclusion.body, @conclusion) %>

		</div>
		<div>
			<button class="vote_button" type="button" data-voteable-id="<%= @argument.id %>" data-voteable-type="Argument" data-value="true">Accept</button>
		  <button class="vote_button" type="button" data-voteable-id="<%= @argument.id %>" data-voteable-type="Argument" data-value="false">Reject</button>
		</div>
	</div>

	<h2>Premises:</h2>
	<div class="premise#{premise.id}_container">
		<% @premises.each do |premise|%>
				<h4 id="premise#{premise.id}">
					<%= link_to(premise.body, premise) %>
				</h4>
		<% end %>
	</div>
<hr>
	<div class = "attribution">
		Author: <%= link_to(@author.username, @author) %>
	</div>

</section>
