<!-- link_to("Accept", ) -->
<section id="argument_container">
	<div id="conclusion_container">
		<h2 id="argument_conclusion">Argument <%= @position %>:</h2>
		<div>
			<%= link_to(@conclusion.body, @conclusion) %>

		</div>
	</div>

	<h2>Premises:</h2>
	<div class="premise#{premise.id}_container">
		<% @premises.each do |premise|%>
		<div>
			<%= link_to(premise.body, premise) %>
		</div>
		<% end %>
	</div>
	<div>
		<button class="vote_button" type="button" data-voteable-id="<%= @argument.id %>" data-voteable-type="Argument" data-value="true">Accept</button>
	  <button class="vote_button" type="button" data-voteable-id="<%= @argument.id %>" data-voteable-type="Argument" data-value="false">Reject</button>
	</div>
<hr>
  <div class = "user_group">
		<div class="clear_both">Author:</div>

		<div class="user_icon_container">
			<%= link_to(image_tag(@author.image_url, class: "user_image"), @author) %>
		</div>
	</div>
  <div class = "user_group">
    <div class="clear_both">Supported by:</div>
    <% @users_supporting.each do |user| %>
      <div class="user_icon_container">
        <%= link_to(image_tag(user.image_url, class: "user_image"), user) %>
      </div>
    <%end%>
  </div>

  <div class = "user_group">
    <div class="clear_both">Opposed by:</div>
    <% @users_opposing.each do |user| %>
      <div class="user_icon_container">
        <%= link_to(image_tag(user.image_url, class: "user_image"), user) %>
      </div>
    <%end%>
  </div>

</section>
