<h2>User: <%= @user.username %></h2>
<div class="profile_image_container">
  <img class="profile_image" src="<%= @user.image_url %>"/>
</div>
<div class="listings">
  <h2>Recent Claims</h2>
  <ul>
    <% @recent_claims.each do |claim| %>
    <li><a href="/claims/<%= claim.id %>"><%= claim.body %></a></li>
    <% end %>
  </ul>
</div>

<div class="listings">
  <h2>Recent Arguments</h2>
  <ul>
    <% @recent_arguments.each do |arg| %>
      <% if arg.is_supporting? %>
        <li><a href="/arguments/<%= arg.id %>">supporting <%= arg.conclusion.body %></a></li>
      <% else %>
        <li><a href="/arguments/<%= arg.id %>">opposing <%= arg.conclusion.body %></a></li>
      <% end %>
    <% end %>
  </ul>
</div>
