<ul class = "navbar">
	<li><%= link_to "Home", "/" %></li>
	<li><%= link_to "New Claim", "/claims/new" %></li>
	<li><%= link_to "New Argument", "/arguments/new" %></li>
	<% if current_user %>
	<li><%= link_to "Profile", "/users/#{current_user.id}" %></li>
	<li><%= link_to "Log out", "/welcome/signout" %></li>
	<% else %>
	<li><%= link_to "Sign up", "/users/new" %></li>
	<li><%= link_to "Log in", "/welcome/login" %></li>
	<% end %>
</ul>
